h1 {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form input {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: antiquewhite;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(129, 130, 54);
    color: rgb(255, 255, 255);
}